@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');



.top {
	position: relative;
	height: 10px;
	background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}


h1 {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 4vw;
  font-weight: 300;
	text-transform: uppercase;
}

.text {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



@font-face {
	font-family: "ubuntu";
	font-style: italic;
	font-weight: 300;
	src: local("Lato Light Italic"), local("Lato-LightItalic"),
		url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
			format("woff2");
}

a {
	text-decoration: none;
	color: #9ca0b1;
}


